{% extends 'base/base.html' %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: auto;">
  <div class="col-md-6">
    <form method="post" class="p-4 shadow-4 rounded " style="background-color: #F9F3EF;">
      {% csrf_token %}

      <div data-mdb-input-init class="form-outline mb-4">
        {{ form.seller_fullname }}
        <label class="form-label" for="username">Seller name</label>
        {% if form.seller_fullname.errors %}
          <div class="text-danger small">{{ form.seller_fullname.errors.0 }}</div>
        {% endif %}
      </div>

      <div data-mdb-input-init class="form-outline mb-4">
        {{ form.seller_company_name }}
        <label class="form-label" for="password1">Company name</label>
        {% if form.seller_company_name.errors %}
          <div class="text-danger small">{{ form.seller_company_name.errors.0 }}</div>
        {% endif %}
      </div>

      <div data-mdb-input-init class="form-outline mb-4">
        {{ form.seller_email }}
        <label class="form-label" for="email">Email</label>
        {% if form.seller_email.errors %}
          <div class="text-danger small">{{ form.seller_email.errors.0 }}</div>
        {% endif %}
      </div>

      <div data-mdb-input-init class="form-outline mb-4">
        {{ form.is_seller }}
      </div>

      <button type="submit" class="btn btn-primary btn-block w-100 mb-4">
        Register
      </button>

      <div class="text-center">
        <p>Already have an account? <a href="/login">Login</a></p>
      </div>
    </form>
  </div>
</div>

{% endblock %}
